In [ ]:
import pandas as pd
input_file = "./raw_data/traffic_data_january_2020.csv"

:

In [67]:
df = pd.read_csv(input_file,sep="|")

In [68]:
df.columns

Index([' id_sensor_traffic ', '        datetime         ',
       '          vehicle_type           ', ' speed ', ' flow '],
      dtype='object')

In [69]:
df.rename(columns={column : column.strip() for column in df.columns}, inplace=True)
df.columns

Index(['id_sensor_traffic', 'datetime', 'vehicle_type', 'speed', 'flow'], dtype='object')

In [70]:
del df['vehicle_type']
del df['speed']
df.columns

Index(['id_sensor_traffic', 'datetime', 'flow'], dtype='object')

In [71]:
df.isna().sum()

id_sensor_traffic    0
datetime             2
flow                 2
dtype: int64

In [72]:
df = df.dropna(how='any', axis=0)

In [73]:
df[['id_sensor_traffic', 'datetime']]

            id_sensor_traffic                   datetime
1          R123_S1              2020-01-31 23:59:09.987
2          R098_S1              2020-01-31 23:59:08.97
3          R098_S2              2020-01-31 23:59:08.97
4          R098_S3              2020-01-31 23:59:08.97
5          R098_S4              2020-01-31 23:59:08.97
...                       ...                        ...
13141660   LP12                 2020-01-01 00:00:00
13141661   LP12                 2020-01-01 00:00:00
13141662   LP12                 2020-01-01 00:00:00
13141663   LP12                 2020-01-01 00:00:00
13141664   LP13                 2020-01-01 00:00:00

[13141664 rows x 2 columns]

In [74]:
# strip the columns 
df[['id_sensor_traffic', 'datetime']] = df[['id_sensor_traffic', 'datetime']].apply(lambda x: x.str.strip())

In [75]:
from datetime import datetime
def uniform_data(data_str):
    try:
        dt = datetime.strptime(data_str, "%Y-%m-%d %H:%M:%S.%f")
    except ValueError:
        try:
            dt = datetime.strptime(data_str, "%d/%m/%y %H:%M")
            # add second and microsec
            dt = dt.replace(second=0, microsecond=0)
        except ValueError:
            try:
                 dt = datetime.strptime(data_str, "%Y-%m-%d %H:%M:%S")
                 # add microsec
                 dt = dt.replace(microsecond=0)
            except:
                raise ValueError(f"unknown format: {data_str}")
    # return data in uniform format with truncted decimal
    return dt.strftime("%Y-%m-%d %H:%M:%S.%f")

In [76]:
# select the column
data_colum = df.columns[1]
# apply conv
df[data_colum] = df[data_colum].apply(uniform_data)

In [78]:
df[data_colum] = df[data_colum].apply(lambda x: x[:-7])
df.head()

  id_sensor_traffic             datetime  flow
1           R123_S1  2020-01-31 23:59:09   0.0
2           R098_S1  2020-01-31 23:59:08   0.0
3           R098_S2  2020-01-31 23:59:08   0.0
4           R098_S3  2020-01-31 23:59:08   1.0
5           R098_S4  2020-01-31 23:59:08   1.0

In [79]:
df_cut = df[:10_000]

In [82]:
 # save dfs
df.to_csv("./raw_data/traffic_data_january_2020_postprocess.csv", index=False)
df_cut.to_csv("./raw_data/traffic_data_10000.csv", index=False)

In [ ]:
df = pd.read_csv("./raw_data/traffic_data_january_2020_postprocess.csv")
df.keys()

:

In [3]:
df.head()

  id_sensor_traffic             datetime  flow
0           R123_S1  2020-01-31 23:59:09   0.0
1           R098_S1  2020-01-31 23:59:08   0.0
2           R098_S2  2020-01-31 23:59:08   0.0
3           R098_S3  2020-01-31 23:59:08   1.0
4           R098_S4  2020-01-31 23:59:08   1.0

In [4]:
df.groupby("datetime")['id_sensor_traffic'].count()

datetime
2020-01-01 00:00:00    568
2020-01-01 00:00:07      6
2020-01-01 00:00:09     20
2020-01-01 00:00:10     37
2020-01-01 00:00:11      3
                      ...
2020-01-31 23:59:05     19
2020-01-31 23:59:06     32
2020-01-31 23:59:07     36
2020-01-31 23:59:08     51
2020-01-31 23:59:09      1
Name: id_sensor_traffic, Length: 388229, dtype: int64

In [5]:
df[df['id_sensor_traffic'] == 'R154_S1']

         id_sensor_traffic             datetime  flow
247                R154_S1  2020-01-31 23:59:00   1.0
428                R154_S1  2020-01-31 23:58:00   1.0
675                R154_S1  2020-01-31 23:57:00   0.0
988                R154_S1  2020-01-31 23:56:00   0.0
1282               R154_S1  2020-01-31 23:55:00   0.0
...                    ...                  ...   ...
13140227           R154_S1  2020-01-01 00:04:00   0.0
13140416           R154_S1  2020-01-01 00:03:00   1.0
13140758           R154_S1  2020-01-01 00:02:00   0.0
13140934           R154_S1  2020-01-01 00:01:00   1.0
13141223           R154_S1  2020-01-01 00:00:00   0.0

[44637 rows x 3 columns]